[data-theme="dark"] #web_bg {
  background: $web-bg;
  background-attachment: local;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 800px) {
  #web_bg {
    background: $web-bg !important;
    background-attachment: local !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
  [data-theme="dark"] #web_bg {
    background: $web-bg !important;
    background-attachment: local !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}
